#DHPS_Counter {
  align: center center;
  width: 100%;
  height: 100%;
  background-color: none;
  flow-children: down;
}
#DHPS_Counter #DPS_Counter {
  width: 100%;
  height: 194px;
  background-color: #00000091;
  flow-children: down;
}
#DHPS_Counter #DPS_Counter #DPS_Counter_title {
  width: 100%;
  height: 24px;
  border-radius: 1px;
  background-color: #1b1a1a;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
#DHPS_Counter #DPS_Counter #DPS_Counter_title #DPS_Counter_title_text {
  align: left center;
  text-overflow: shrink;
  text-align: center;
  text-shadow: 0px 0px 4px 5 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 16px;
}
#DHPS_Counter #HPS_Counter {
  width: 100%;
  height: 194px;
  background-color: #00000091;
  flow-children: down;
}
#DHPS_Counter #HPS_Counter #HPS_Counter_title {
  width: 100%;
  height: 24px;
  border-radius: 1px;
  background-color: #1b1a1a;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
#DHPS_Counter #HPS_Counter #HPS_Counter_title #HPS_Counter_title_text {
  align: left center;
  text-overflow: shrink;
  text-align: center;
  text-shadow: 0px 0px 4px 5 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 16px;
}
.DHPSMeteringBar {
  border-radius: 1px;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 34px;
  width: 100%;
}
.DHPSMeteringBar #DHPSMeteringBar_icon {
  align: left center;
  z-index: 1;
}
.DHPSMeteringBar #DHPSMeteringBarBG {
  height: 100%;
  overflow: noclip;
}
.DHPSMeteringBar #DHPSMeteringBar_name {
  align: left center;
  margin-left: 32px;
  overflow: noclip noclip;
  text-overflow: shrink;
  text-align: center;
  text-shadow: 0px 0px 4px 5 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 16px;
}
.DHPSMeteringBar #DHPSMeteringBar_number {
  align: right center;
  overflow: noclip noclip;
  text-overflow: shrink;
  text-align: center;
  text-shadow: 0px 0px 4px 5 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 16px;
  margin-right: 4px;
}
