.root {
  width: 100%;
  height: 100%;
}
.Hidden {
  visibility: collapse;
}
#DHPS_CounterRoot {
  align: left center;
  width: 250px;
  height: 600px;
}
#ActionPanel {
  align: center bottom;
  width: 700px;
  height: 400px;
}
#abilities {
  align: center bottom;
}
