.root {
  width: 100%;
  height: 100%;
}
#hud_root {
  width: 100%;
  height: 100%;
}
.Hidden {
  visibility: collapse;
}
#DHPS_CounterRoot {
  align: left top;
  width: 250px;
  height: 388px;
}
#ActionPanel {
  align: center bottom;
  width: 600px;
  height: 400px;
}
#abilities {
  align: center bottom;
  margin-bottom: 8px;
}
#ActionPanel_BG {
  z-index: -1;
  width: 420px;
  height: 142px;
  background-image: url("s2r://panorama/images/hud/reborn/bg_guides_psd.vtex");
  background-size: 100%;
  align: center bottom;
  border-radius: 4px;
}
