
.root {
    width: 100%;
    height: 100%;
}

.Hidden{
    visibility: collapse;
}

#DHPS_CounterRoot{
    align: left center;
    width: 500px;
    height: 600px;
    // background-color: green;
}

#ActionPanel{
    align: center bottom;
    width: 700px;
    height: 400px;
}

#abilities{
    align: center bottom;
    // margin-left: 200px;
}