#Right_bottom_button {
  width: 400px;
  height: 100px;
  background-color: none;
  align: right bottom;
  margin-right: 350px;
}
#ChangeSchools_button {
  width: 80px;
  height: 80px;
  background-image: url("s2r://panorama/images/events/aghanim/blessing_icons/blessing_book_agility_icon_dormant_png.vtex");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
}
#ChangeSchools_button:hover {
  brightness: 1.5;
}
#ChangeSchools_button Label {
  align: center bottom;
  text-shadow: 0px 0px 4px 5 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 18px;
  overflow: noclip noclip;
}
