#XpbarRoot {
  width: 400px;
  height: 28px;
  background-color: none;
  align: center bottom;
  margin-bottom: 4px;
}
#xpbar {
  border-radius: 5px;
  align: center center;
  width: 100%;
  height: 100%;
  border-color: black;
  border-style: solid;
  border-width: 4px;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#554313), color-stop(0.3, #2c230b), color-stop(0.7, #2c230b), to(#554313));
}
#xpbar_level {
  align: left center;
  text-shadow: 0px 0px 4px 5 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 16px;
  overflow: noclip noclip;
  z-index: 1;
  margin-left: 4px;
}
#xpbar_number {
  align: right center;
  text-shadow: 0px 0px 4px 5 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 16px;
  overflow: noclip noclip;
  z-index: 1;
  margin-right: 2px;
}
#xpbar_BG {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#94741d), color-stop(0.2, #ecc045), color-stop(0.8, #ecc045), to(#685215));
  height: 100%;
  overflow: noclip;
}
