#ChangeSchools {
  width: 600px;
  height: 460px;
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 7px;
  align: center center;
  opacity: 0;
  transform: translateY(300px) translateX(300px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
}
#ChangeSchools.ShowChangeSchools {
  opacity: 1;
  transform: translateY(0px);
}
#ChangeSchools #ChangeSchools_title {
  align: center top;
  text-shadow: 0px 0px 4px 5 #1a1818;
  color: #cfcfcf;
  font-family: monospaceNumbersFont;
  font-size: 24px;
  overflow: noclip noclip;
}
#ChangeSchools #ChangeSchools_desc {
  align: center top;
  margin-top: 40px;
  text-shadow: 0px 0px 3px 4 #1a1818;
  color: #aaaaaa;
  font-family: monospaceNumbersFont;
  font-size: 16px;
  overflow: noclip noclip;
}
#ChangeSchools #SchoolsList {
  margin-top: 30px;
  align: center center;
  width: 100%;
  height: 100%;
  flow-children: right;
}
#schools {
  align: center center;
  margin-top: 20px;
  height: 380px;
  width: 280px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
  background-size: 100%;
}
#schools:hover {
  brightness: 1.2;
}
#schools #schools_title {
  align: center top;
  margin-top: 20px;
  flow-children: right;
}
#schools #schools_title #schools_position_icon {
  width: 40px;
  height: 40px;
  background-image: url("file://{images}/hud_icons/position_dps.png");
  background-size: 250%;
  background-position: center;
  margin-right: 10px;
}
#schools #schools_title #schools_position_icon.schools_duty_dps {
  background-image: url("file://{images}/hud_icons/position_dps.png");
}
#schools #schools_title #schools_position_icon.schools_duty_tank {
  background-image: url("file://{images}/hud_icons/position_tank.png");
}
#schools #schools_title #schools_position_icon.schools_duty_healer {
  background-image: url("file://{images}/hud_icons/position_healer.png");
}
#schools #schools_title #schools_name {
  vertical-align: middle;
  text-shadow: 0px 0px 4px 5 #1a1818;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 18px;
  overflow: noclip noclip;
}
#schools #schools_desc {
  width: 260px;
  height: 80px;
  text-shadow: 0px 0px 4px 5 #1a1818;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 16px;
  overflow: noclip noclip;
  margin-top: 70px;
  margin-left: 10px;
  align: center top;
}
#schools #schools_abilities {
  align: center center;
  flow-children: right-wrap;
  height: 120px;
  width: 182px;
  margin-top: 30px;
}
#schools #schools_abilities .schools_abilities_panel {
  width: 60px;
  height: 60px;
  padding: 3px;
}
#schools #choose_school {
  align: center bottom;
  width: 90px;
  height: 40px;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#bd9e16), to(#ffc21b));
  border: 1px solid #ffe056;
  margin-bottom: 20px;
}
#schools #choose_school.disable {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#3d3d3d), to(#8d8d8d));
  border: 1px solid #424242;
}
#schools #choose_school.disable:hover {
  brightness: 1;
}
#schools #choose_school Label {
  align: center center;
  text-shadow: 0px 0px 4px 5 #422b00;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 18px;
  overflow: noclip noclip;
}
#schools #choose_school:hover {
  brightness: 1.5;
}
