.image-precache {
	background-image: url("file://{images}/buttons/ChangeSchools_button.png");
	background-image: url("file://{images}/hud/item_equip_bg.png");
	background-image: url("file://{images}/hud_icons/backpack_button.png");
	background-image: url("file://{images}/hud_icons/character_attribute_agility.png");
	background-image: url("file://{images}/hud_icons/character_attribute_attack_damage.png");
	background-image: url("file://{images}/hud_icons/character_attribute_attack_speed.png");
	background-image: url("file://{images}/hud_icons/character_attribute_block.png");
	background-image: url("file://{images}/hud_icons/character_attribute_evasion.png");
	background-image: url("file://{images}/hud_icons/character_attribute_intellect.png");
	background-image: url("file://{images}/hud_icons/character_attribute_magical_armor.png");
	background-image: url("file://{images}/hud_icons/character_attribute_magical_crit_chance.png");
	background-image: url("file://{images}/hud_icons/character_attribute_magical_crit_damage.png");
	background-image: url("file://{images}/hud_icons/character_attribute_movespeed.png");
	background-image: url("file://{images}/hud_icons/character_attribute_physical_armor.png");
	background-image: url("file://{images}/hud_icons/character_attribute_physical_crit_chance.png");
	background-image: url("file://{images}/hud_icons/character_attribute_physical_crit_damage.png");
	background-image: url("file://{images}/hud_icons/character_attribute_spell_power.png");
	background-image: url("file://{images}/hud_icons/character_attribute_strength.png");
	background-image: url("file://{images}/hud_icons/cooldown_png.png");
	background-image: url("file://{images}/hud_icons/position_dps.png");
	background-image: url("file://{images}/hud_icons/position_healer.png");
	background-image: url("file://{images}/hud_icons/position_tank.png");
	background-image: url("file://{images}/spellicons/death_knight/death_knight_chaos_strike.png");
	background-image: url("file://{images}/spellicons/death_knight/death_knight_flamethrower.png");
	background-image: url("file://{images}/spellicons/death_knight/death_knight_midnight_pulse.png");
	background-image: url("file://{images}/spellicons/death_knight/death_knight_mortal_strike.png");
	background-image: url("file://{images}/spellicons/death_knight/death_knight_reality_rift.png");
	background-image: url("file://{images}/spellicons/goose.png");
	background-image: url("file://{images}/spellicons/mage/mage_arcane_bolt_buff.png");
	background-image: url("file://{images}/spellicons/mage/mage_arcane_supremacy.png");
	background-image: url("file://{images}/spellicons/mage/mage_kaya_array.png");
	background-image: url("file://{images}/spellicons/mage/mage_laguna_blade.png");
	background-image: url("file://{images}/spellicons/mage/mage_light_strike_array.png");
	background-image: url("file://{images}/spellicons/mage/mage_resonant_pulse.png");
}