#Buffs {
  width: 500px;
  height: 90px;
  align: center bottom;
  margin-bottom: 160px;
  flow-children: right;
}
#Buffpanel {
  width: 100%;
  height: 100%;
}
#BuffList {
  width: 210px;
  height: 90px;
  align: left center;
  flow-children: right-wrap;
}
#DebuffList {
  width: 210px;
  height: 90px;
  align: right center;
  flow-children: left-wrap;
}
.CustomBuff {
  width: 35px;
  height: 50px;
}
.CustomBuff .BuffBorder {
  background-color: black;
  padding: 3px;
}
.CustomBuff #CircularDuration {
  width: 100%;
  height: 100%;
  background-color: #000000dc;
}
.CustomBuff #StackCount {
  margin-top: 18px;
  margin-right: 3px;
  align: right top;
  overflow: noclip noclip;
  text-overflow: shrink;
  text-align: center;
  text-shadow: 0px 0px 4px 6 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 15px;
  visibility: collapse;
}
.CustomBuff.has_stacks #StackCount {
  visibility: visible;
}
.CustomBuff #BuffTime {
  margin-top: 35px;
  horizontal-align: center;
  text-shadow: 0px 0px 4px 6 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 15px;
}
