#OverheadBar_Root {
  width: 100%;
  height: 100%;
}
.OverheadBarContainer {
  width: 195px;
  height: 70px;
  background-color: none;
}
.OverheadBar {
  width: 100%;
  height: 100%;
}
.OverheadBar_name {
  align: center top;
  text-shadow: 0px 0px 5px 6 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 17px;
}
#OverheadhpBar {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.712);
  align: center center;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  height: 28px;
  width: 150px;
}
#OverheadhpBar #hp_maxhp {
  align: center center;
  text-shadow: 0px 0px 4px 5 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 16px;
  z-index: 1;
}
#OverheadhpBar #OverheadhpBar_BG {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#723024), color-stop(0.5, #ce5d41), to(#723024));
  height: 100%;
  overflow: noclip;
}
#ChannelBarContainer {
  height: 22px;
  width: 150px;
  background-color: none;
  align: center bottom;
}
#OverheadChannelBar {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.712);
  align: center center;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  height: 100%;
  width: 100%;
}
#OverheadChannelBar #channel_ability_name {
  align: center center;
  text-shadow: 0px 0px 4px 5 #000000;
  color: white;
  font-family: monospaceNumbersFont;
  font-size: 16px;
  z-index: 1;
}
#OverheadChannelBar #OverheadChannelBar_BG {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#2b2c2c), color-stop(0.5, #7e7e7e), to(#2b2c2c));
  height: 100%;
  overflow: noclip;
}
